@import "src/global.scss";

h1 {
  @include font-size(22px);
  font-weight: 800;
  letter-spacing: 0.5px;
}

.title__container {
  padding: 17.5px 0;
  h1 {
    margin: 0;
  }
}

.equity {
  &__container {
    margin-top: 16px;
  }
  &__label {
    font-size: 12px;
  }
  &__value {
    @include font-size(32px);
    padding-top: 8px;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
}

.holdings {
  &__container {
    margin-top: 40px;
  }
  &__title {
    @include font-size(18px);
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.25px;
  }
  &__stocks,
  &__loading {
    margin-top: 24px;
  }
  &__loading {
    display: flex;
    justify-content: center;
  }
}

.stocks {
  &__container {
    margin-top: 46px;
  }
  &__title {
    @include font-size(18px);
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.25px;
  }
  &__carousel {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
  }
}
